@{
    ViewData["Title"] = "Không có quyền";
}

<div class="text-center mt-5">
    <h2 class="text-danger">🚫 Bạn không có quyền truy cập</h2>
    <p>Vui lòng đăng nhập bằng tài khoản Admin</p>

    <a href="/TaiKhoan/Login" class="btn btn-primary">
        Quay lại đăng nhập
    </a>
</div>